<style>
    body {
        background-color: #fff;
        cursor: default;
    }

    .main-view {
        margin-top: 56px;
        padding: 16px;
        box-sizing: border-box;
        height: calc(100vh - 56px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    nav {
        top: 0;
        position: fixed;
        background-color: #333;
        height: 56px;
        -webkit-app-region: drag;
    }

    .app-title {
        display: inline-block;
        margin-left: 16px;
    }

    a,
    ul.side-nav,
    ul.side-nav li {
        -webkit-app-region: no-drag;
    }
</style>
<nav>
    <span class="app-title">Lyricfier</span>
</nav>

<div class="main-view">
    <componet :is="currentView" :ipc="ipc" :shell="shell" v-on:status="listenStatus" keep-alive></componet>
</div>
